.products {
  &__header {
    display: flex;
    align-items: center;

    .left {
      flex: 0.3;
    }

    .center {
      flex: 0.4;
    }

    .right {
      flex: 0.3;
      display: flex;
      justify-content: flex-end;
    }
  }
}
