.edit-sub-category-form {
  .form {
    display: grid;

    .MuiFormControl-root {
      margin-top: 10px;
    }

    .MuiInputBase-root {
      margin-top: 10px;
    }

    .MuiButtonBase-root {
      margin-top: 10px;
    }
  }
}
