@import "../../../scss/index.scss";

.preview-carrito {
  padding: 20px;
  display: grid;
  place-items: center;

  .productos {
    &__header {
      text-align: center;

      .detalles {
      }
    }

    &__footer {
      bottom: 0;
      position: sticky;
      padding: 20px;
      justify-content: center;
      background-color: white;
    }
  }
}
