// FONDOS COLORESA
$background-primary: #33e4d5;
$background-light: #fff;
$background-dark: #000;
$background-dark-light: #2e2e2e;

//colores
$color-primary: #33e4d5;
$color-grey: #6e6e6e;
$color-light: #fff;

//fonts
$font-primary: #33e4d5;
$font-dark: #000;
$font-grey: #ada9a9;
$font-light: #f9f9f9;

$btn-cart: #2fddd4;
